Repository Andrew-Roide/code-journal: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, prettier --write, stylelint --fix, eslint --fix

completed html layout
  index.html
Due: markuplint, prettier --write

completed local storage for data
  js/data.js
Due: prettier --write, eslint --fix

completed gathering form info
  js/main.js
Due: prettier --write, eslint --fix

Completed css formating
  css/styles.css
Due: prettier --write, stylelint --fix

added functions to render entry list, show either data-view, swap dataviews
  css/styles.css
  js/data.js
Due: prettier --write, stylelint --fix, eslint --fix

added entry list
  index.html
Due: markuplint, prettier --write

completed issue 2
  css/styles.css
  index.html
  js/data.js
  js/main.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

created dom tree, moved functions from data.js to main.js, added eventlisteners to entries and entry-form
  css/styles.css
  index.html
  js/data.js
  js/main.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

fixed bug where no entries to show would pop up with first entry
  js/main.js
Due: prettier --write, eslint --fix

removed repeated lines of adding localstorage when beforeunload event does it
  js/main.js
Due: prettier --write, eslint --fix

Completed issue 3
  css/styles.css
  index.html
  js/data.js
  js/main.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

Completed issue 4
  css/styles.css
  index.html
  js/main.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

fixed var keyword and removed redundent code in DOMContentLoaded
  js/data.js
  js/main.js
Due: prettier --write, eslint --fix

Path conditions:
  markuplint: any of: *.html
  prettier --write: ((any of: *.html) or (any of: *.css)) or (any of: *.{js,jsx})
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx}
